/autoscan.log
/configure.scan
/autom4te.cache
/aclocal.m4
/Makefile.in
/missing
/config.loc
/configure
/install-sh
/Makefile
/config.log
/config.status
/test-driver
test/test.sqlite2.dump2
test/test.sqlite3.dump2
test/test-suite.log
test/tests.sh.log
test/tests.sh.trs
test/Makefile
test/Makefile.in
scripts/Makefile
scripts/Makefile.in
git-sqlite-0.0.1.tar.gz
git-sqlite-0.0.1
git-sqlite-0.0.2.tar.gz
git-sqlite-0.0.2/Makefile
git-sqlite-0.0.2/config.log
git-sqlite-0.0.2/config.status
git-sqlite-0.0.2/scripts/Makefile
git-sqlite-0.0.2/test/Makefile
git-sqlite-0.0.3.tar.gz
git-sqlite-0.0.3/Makefile
git-sqlite-0.0.3/config.log
git-sqlite-0.0.3/config.status
git-sqlite-0.0.3/scripts/Makefile
git-sqlite-0.0.3/test/Makefile
git-sqlite-0.0.3/test/test.sqlite2.dump2
git-sqlite-0.0.3/test/test.sqlite3.dump2
git-sqlite-0.0.3/autom4te.cache/
test/temp.sqlite2
test/temp.sqlite3
test/aaa
config.h
stamp-h1
git-sqlite-0.1.0.tar.gz
git-sqlite-0.1.0/Makefile
git-sqlite-0.1.0/config.log
git-sqlite-0.1.0/config.status
git-sqlite-0.1.0/scripts/Makefile
git-sqlite-0.1.0/test/Makefile
/config.h.in

git-sqlite-0.1.0/autom4te.cache/
scripts/test.sqlite3.dump2
scripts/test.sqlite2.dump2
test/temp.sqlite2.dump.malformed
test/temp.sqlite3.dump.malformed
