autoscan.log
configure.scan
autom4te.cache
aclocal.m4
Makefile.in
missing
config.loc
configure
install-sh
Makefile
config.log
config.status
test/test.sqlite2
test/test.sqlite3
test/test.sqlite2.dump2
test/test.sqlite3.dump2
test-driver
test/test-suite.log
test/tests.sh.log
test/tests.sh.trs
git-sqlite-0.0.1.tar.gz
